// Specific CSS for your home-page
#heading {
  height: 10rem;
  min-width: 100%;
  object-fit: cover;
  object-position: center;

}

input::placeholder {
  color: #aaa; /* Couleur gris clair pour le placeholder */
}

input:focus::placeholder {
  color: transparent; /* Rendre le placeholder invisible au focus (optionnel) */
}

.minia {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 20%;
  aspect-ratio: 1/1;

  margin-bottom: 0.7em;
  margin-top: 0.7em;
}
